[2020-11-13 12:42] BrandonMurugan opened #10 "Plugin installation fails (v1.0.2)"
When attempting to add scite-zotero-plugin (v1.0.2) to Zotero (v5.0.93) installation fails with the following error:
**The add-on "%S" could not be installed. It may be incompatible with this version of Zotero.**

This behaviour appears to be absent when attempting to install scite-zotero-plugin v1.0.1, and installation works as expected.

--
OS: Windows 10 Pro, Version	10.0.18362 Build 18362
Zote

[2020-11-13 13:06] domenicrosati commented on #10
Hey @BrandonMurugan thanks for raising this to our attention.

We just tried to reproduce on Windows 10, Zotero: 5.0.93 with v1.0.2 and it worked.

We will continue to look out for the issue and ensure we test future releases against Windows 10 (if perhaps that is the issue)

[2020-11-13 14:27] u-ashish commented on #10
Hi @BrandonMurugan , sorry to hear you ran into an issue. Could you do me a favor and confirm the file size of your `v1.0.2` download? Wondering if it might have been corrupted...

[2020-11-13 16:25] BrandonMurugan commented on #10
Hi @u-ashish,ah good catch. The plugin download was corrupted. Re-downloaded and tried again and it works just fine.
Apologies for the false alarm! (Should have tried this before posting)

[2020-11-13 17:29] u-ashish commented on #10
@BrandonMurugan Excellent, hope you find it useful. If you find any other issues or have feedback, feel free to let us know!

[2020-11-13 17:29] #10 closed

[2020-11-16 22:32] danieltomasz opened #12 "Cannot resize columns added by plugin"
I don't know if this is Zotero problem or plugin but I cannot manually resize columns that were added by the extension (Scite adding
3 additional columns : "supporting", 'mentioning', 'disputing' into main window)
Resizing Zotero window change the width of those columns, but resizing is impossible manually which sometimes make the content of these columns unreadable

Zotero 5.0.93, MacOS Big Sur 1

[2020-11-16 22:38] u-ashish commented on #12
Hi @danieltomasz

Thanks for reporting this. I know that normal Zotero columns are resizable, so presumably it is possible. I can take a look this week and I'll get back to you when I have a more concrete update.

[2020-11-16 22:59] danieltomasz commented on #12
Thanks! To pinpoint more - The problem is when hovering columns from Scite plugin the specific handle "-||-" doesnt appear. That handle  is  used  to resize other column.

Another issue -  column "disputing" and  "Supporting" when  Zotero is resized are crammed too much when the total number of citation have more than  enough space
<img width="136" alt="image" src="https://user-images.githubuserco

[2020-11-17 15:07] u-ashish commented on #12
Hey there @danieltomasz

I pushed an update this morning which should enable resizing, can you give it a try?

Zotero should auto-update, but if it doesn't, you can update in one of two ways:
- In Zotero, go to `Tools` -> `Add-ons` -> Right click the `scite Plugin for Zotero` and click `Find updates`. It should prompt you to restart.
- If somehow that doesn't work (let me know), you can manually d

[2020-11-17 16:29] danieltomasz commented on #12
Yes, manually resizing  works now! Also problem of column size seems gone.  I am closing this issue, if there will be a problems with resizing I will reopen it.

[2020-11-17 16:29] #12 closed

[2021-03-19 14:31] element4l opened #15 "Contrasting tallies show (?)"
EDIT: I feel very silly. After looking at the screenshot for this plugin, I saw that the question mark was just the symbol that preceded the number and that my column had been shortened for some reason, hiding the tallies and displaying the icon only. I am closing the issue now since the issue was me.

The scite plugin was working at first, but now none of the Contrasting tallies are showing up in

[2021-03-19 14:40] #15 closed

[2021-03-30 14:12] l0o0 opened #16 "Function DOMParser() Error"
After scite-zotero-plugin installed, function `DOMParser()` will throw an error.
[code]

I have reported this bug in [zotero-better-bibtex](https://github.com/retorquere/zotero-better-bibtex/issues/1584), maybe there will be a solution in above issue.

[2021-03-30 14:49] l0o0 commented on #16
I found another way to parse the string to HTML.
[code]
I don't know what's the difference between these parsers, but the latter parser really works fine

[2021-03-31 14:38] u-ashish commented on #16
@l0o0 thanks for reporting this; we do currently use `'@mozilla.org/xmlextras/domparser;1'`. Let me look into what's causing the issue to see if we can support both.

[2021-03-31 15:24] u-ashish commented on #16
@l0o0 this is now fixed, you should be able to upgrade your add-on from zotero or get the latest release (`1.0.7`) here: https://github.com/scitedotai/scite-zotero-plugin/releases/tag/v1.0.7

Let me know if you run into any additional issues!

[2021-04-14 02:13] l0o0 commented on #16
@u-ashish Thanks for your work. It works fine after updating.

[2021-04-14 02:14] l0o0 commented on #16
@u-ashish Thanks for your work. It works fine after updating.

[2021-05-04 13:29] MavropaliasG opened #18 "'Refresh tallies from scite' menu option does not exist when selecting more than 1 item."
Thank you for this amazing plugin!

I would like to update all the scite tallies in a folder when I decide to visit the folder of a specific topic I'm about to write a report about. However, when selecting e.g. 4 items, and I right-click, the option 'Refresh tallies from scite' that exists when selecting 1 item does not exist. It would be fantastic to have that for a quick update before delving in

[2021-05-04 15:04] u-ashish commented on #18
Hi @MavropaliasG thanks for the nice message and for reaching out.

Just so I know, would you prefer to multi-select rows in your library, right click and refresh tallies for any arbitrary group, or do you want to be able to right click a folder (or sub-folder) on the left panel and refresh in the whole folder? i.e. is the arbitrary group more important or is being able to do it at any folder leve

[2021-05-04 15:22] MavropaliasG commented on #18
Hi @u-ashish, thank you so much for the prompt response. The former would be sufficient: to simply add the option when selecting more than one item. If that is available, then a user can easily select all the items in a folder by pressing Ctrl + A, right-click, and select refresh tallies. Thank you once agai.

[2021-06-10 10:27] thangckt commented on #18
hi @u-ashish,
Thank you for this amazing plugin!

can we have an additional column for the total number citations?

[2021-06-10 14:00] u-ashish commented on #18
Hi @thangckt that's possible. I can also extend it to include a count of the total number of traditional citations as well. Can you open a separate issue just so I can track it properly?

[2021-06-10 14:45] u-ashish opened #19 "Add total smart cites / total publications to columns"
As requested here https://github.com/scitedotai/scite-zotero-plugin/issues/18#issuecomment-858505902

[2021-06-10 15:19] u-ashish commented on #19
Hi @thangckt this is now fixed. You can update your plugin or install the latest here: https://github.com/scitedotai/scite-zotero-plugin/releases/tag/v1.0.8

Let me know if you have any additional questions :)

[2021-06-10 15:19] #19 closed

[2021-06-10 15:23] thangckt commented on #19
dear @u-ashish,
Thank you so much for your response.

[2021-06-15 10:29] roaldarbol commented on #19
First of all, thanks for this plugin!
Quick comment on this feature; quite a few of my papers have fewer Smart Citations than distinct citations. Is it a bug or do you have any idea how this happens? I even have a few which have 0 Smart Citations despite having distinct citations.

[2021-06-15 10:32] roaldarbol commented on #19
And another quick comment on the feature, it might be worth making the title shorter (e.g. like the Contrasting/Supporting - maybe just Citations and Smart Citations), as the title is quickly truncated despite the column naturally being narrow as it only contains numbers. :-)

[2021-06-15 15:49] u-ashish commented on #19
Hi @roaldarbol

1. We can only have Smart Citations for a paper if we've ingested its full text article and extracted the citation statements; in instances where there is a discrepancy, it is likely because we haven't accessed the full-text of the relevant citing articles yet. We're constantly growing in this area with new indexing agreements and so on, but that's the reason. In the interim, we ch

[2021-06-16 00:17] u-ashish commented on #19
@roaldarbol I did mean to ask, do you have examples of papers where that was an issue? If you let me know I can check to see if it's a subject area or journal where we're working on improving coverage, or if there is some other problem.

[2021-06-16 13:54] roaldarbol commented on #19
Hi @u-ashish, thanks for a quick response!

1. That makes perfect sense, I was just curious. I tried to go through them, and a few things seemed like they might be general. Disclaimer, most of my references have been imported from Mendeley which found meta-data from the PDF and not online.
- I have a few book chapters (including [this](https://link.springer.com/book/10.1007%2F978-3-642-35497-7) an

[2021-06-16 16:49] u-ashish opened #21 "DOI for preprints / psyarxiv"
e.g. 10.31234/osf.io/k23cv

seems to be going into the `Extra` field instead of `DOI`.

[2021-07-06 15:56] u-ashish opened #22 "Tallies sometimes don't load"
in some cases they just show as `-` instead of having any tallies. Need to refresh manually to populate.

[2021-07-06 17:07] #22 closed

[2021-07-13 16:21] andrusha opened #24 "No caching of results"
On each Zotero startup the scite plugin fetches the tallies for all the papers, this is nice to have most recent numbers, but put quite a bit of strain on the network. It would be nice to have the values cached with the ability to manually trigger refresh.

[2021-07-13 16:24] u-ashish commented on #24
Hi @andrusha

Thanks for creating this issue -- I've thought about this before but never got around to implementing it.

Let's say that Zotero does cache some of them after the initial load and you close it -- if you open it up a few days later and wanted to do a refresh, right now the plugin only lets you refresh individual rows. How would you want to be able to bulk refresh? Just a button to ref

[2021-07-14 12:31] andrusha commented on #24
Thanks for the quick response!

I think the answer is yes, and judging by the other plugins implementing item-processing for selection / all items / collection is pretty straight-forward once you have the method to work on arrays.

Here is an example of this functionality from scihub integration (code a bit convoluted, but you get the gist):
https://github.com/ethanwillis/zotero-scihub/blob/master

[2021-07-14 12:42] andrusha commented on #24
Maybe `extra` field could be used https://www.zotero.org/support/kb/item_types_and_fields#citing_fields_from_extra

[2021-08-16 15:09] u-ashish opened #25 "Look into zotero v6 support"
[code]

Reported by a user -- look into it to see what I need to do to prepare our plugin for v6 support, backwards compatibility, etc.

![image](https://user-images.githubusercontent.com/14264791/129586155-7edd6557-85c8-4b4b-af8a-e9b7d7d1b13b.png)

[2021-08-18 17:44] u-ashish commented on #25
Jack updated:

[code]

[2021-08-30 07:42] jrennstich commented on #25
Unfortunately, the plugins do not load under Zotero 5.0.97-beta.40+952663de7
Apparently, others have faced issues here as well: https://forums.zotero.org/discussion/91449/add-ons-broken-in-the-latest-beta-version-bbt-zutilo-etc
@retorquere has found a fix, see thread https://github.com/retorquere/zotero-better-bibtex/issues/1899

[2021-08-30 07:44] retorquere commented on #25
The conversation I had with the Zotero devs about this change can be found at https://github.com/retorquere/zotero-better-bibtex/discussions/1904.

[2021-09-01 19:44] u-ashish commented on #25
Fixed, thanks for reporting and for the discussions 🙏

[2021-09-01 19:44] #25 closed

[2021-09-01 19:56] u-ashish opened #27 "Fix tallies not auto-updating in cells after loading"
known issue will fix in a bit

[2021-09-02 15:45] #27 closed

[2021-09-03 09:53] dstillman opened #29 "Scite plugin causing Zotero breakage in 5.0.96.3"
https://forums.zotero.org/discussion/91584/zotero-app-not-working
https://forums.zotero.org/discussion/91576/report-id-1742130648

Both with 1.10.0

[2021-09-03 11:33] u-ashish commented on #29
Weird, looking now, thanks for reporting it @dstillman

[2021-09-03 11:45] u-ashish commented on #29
I reached out to them to see if they could try and send me their prefs.js file since the first person said everything worked after deleting it (trying to look at mine to see if anything could cause a weird interaction...)

[2021-09-03 12:13] u-ashish commented on #29
Ahh, think I see it..

[2021-09-03 20:49] RaulMendes94 commented on #29
This bug also appeared to me.
I did a video showing how this happened: https://youtu.be/F6z53YXhyB8

[2021-09-03 20:58] u-ashish commented on #29
Hi @RaulMendes94 thanks for the video -- so it looks like it happened after sorting. Could you confirm both your Zotero build version, and your scite plugin version?

[2021-09-03 21:03] u-ashish commented on #29
Actually @RaulMendes94 I was able to replicate this on plugin `1.10.0` with Zotero `5.0.96.3`.

But if I use our plugin `1.11.1` (linked above), it doesn't happen -- can you try that plugin version and let me know if it works for you as well?

[2021-09-03 21:26] RaulMendes94 commented on #29
Thanks  u-ashish.
I deleted the extension and installed this new one (v1.11.1). Now it is working.

The Zotero version is 5.0.96.3.
The problem appeared today morning (almost 10 hours ago), so I think that the plugin version was the recent one updated automatically. But it worked after I deleted it and installed again.

[2021-09-03 21:28] u-ashish commented on #29
awesome, thanks so much for confirming @RaulMendes94. I'll update it in the zotero discussion as well so people know to upgrade.

[2021-09-03 21:29] #29 closed

[2021-09-03 22:00] RaulMendes94 commented on #29
I think that it is important to remove it first before install this new version, because I failed when I tried to install it the first time just by dropping the new one without removing the old one.

It worked fine after I click the "remove" button and install the new one.

[2021-09-03 22:29] u-ashish commented on #29
@RaulMendes94

Yeah so if you are installing it directly, you need to do that. Alternatively, if you already have an old version installed, you can upgrade it directly to the latest by doing the following:

- Click Tools -> Add-Ons
- For the scite-zotero-plugin, click `More`
- Click `Check for updates`
- It should find the latest update and then prompt you to upgrade

(It also checks periodically

[2021-09-17 15:32] champagnealexandre opened #30 "Time out error messages"
Hi,

Is this plugin still supposed to work? I only get timeouts in Zotero.

Thanks,

[2021-09-17 16:38] jmnicholson commented on #30
Hi @champagnealexandre. Yes, this should still work. A few questions to help with debugging:

- Which version of Zotero are you using?
- Which plugin version are you using?

Can you try to restart it and see if that resolves it? @u-ashish is out this week but will be able to help debug this further when he returns next week if you can let us know some more information.

[2021-09-18 12:31] champagnealexandre commented on #30
I think the scite servers were actually causing this, it seems to work correctly today 🤷‍♂️

[2021-09-18 12:31] #30 closed

[2021-09-22 15:06] u-ashish commented on #30
Thanks for confirming @champagnealexandre -- in general that shouldn't happen and everything should work but I'll investigate any sporadic API issues on our end.

Feel free to let us know if you run into any other problems in the future!

[2021-09-23 13:57] champagnealexandre commented on #30
No problem, thanks!

[2021-12-02 22:56] ebw44 opened #31 "zotero Add-ons dialog not opening"
# Description
I believe that this plugin is preventing me from opening the 'Add-ons' dialog (from 'Tools/Add-ons'). I cannot be 100% sure it is the last plugin I have installed, and as I did the installation through that dialog, it was working before. Also the 'Error Console' shows that message when trying to open the dialog:
`No chrome package registered for chrome://zotero-better-bibtex/skin/sci

[2021-12-02 22:59] u-ashish commented on #31
Thanks for reporting this @ebw44 -- I tried just now with the same build of Zotero and our plugin and while I do see that error message (I can fix that separately), I am able to open the Add-ons dropdown.

Could you share a screenshot of the Error console so I can see what else might be interfering, or let me know what other plugins are installed so I can reproduce better?

[2021-12-02 23:05] ebw44 commented on #31
Here is a screenshot after opening zotero and trying to open the 'Add-ons' dialog twice.
![image](https://user-images.githubusercontent.com/8319368/144517061-7960a76e-4306-4098-9c34-b3023694a514.png)

PS: I'm not able to do copy in the 'Error Console'

[2021-12-02 23:07] u-ashish commented on #31
Yeah no worries about copy paste. Are you able to try on a fresh installation of Zotero, with no plugins, and then try with just ours, and see if it still has the same issue?

[2021-12-02 23:27] ebw44 commented on #31
I was able to remove/disable all the add-ons (thanks to https://forums.zotero.org/discussion/85974/zotero-plugin-trouble#latest). At that point I was able to open the dialog and remove scite add-ons. And then everything seems to work fine.

The second test I run is to disable all the add-ons, restart Zotero and install scite. At that point I still get the same `scite.svg` message but the dialog op

[2021-12-02 23:50] u-ashish commented on #31
Sweet 👍

[2021-12-02 23:50] #31 closed

[2022-01-18 10:23] Rhydderch opened #32 "Scite plugin does not work with short DOIs"
Hi,

I activated the option to replace long format DOI by short ones.
Sadly, it seems Scite does not find the papers based on the short DOI (I tested this by creating a dashboard and entering short DOIs).

Here's a short DOI for example: 10/gdchd9

I realized this is only a problem in the web app; it's not related to the scite plugin.

[2022-01-18 10:41] Rhydderch commented on #32
I realized this is only a problem in the web app; it's not related to the scite plugin.

[2022-01-18 10:41] #32 closed

[2022-01-18 17:17] u-ashish commented on #32
Hi @Rhydderch yeah that's right, the main website doesn't convert short to long, although the plugin itself _should_ be converting them to long before requesting information from us (https://github.com/scitedotai/scite-zotero-plugin/blob/master/content/scite.ts#L40)

Were you not seeing tallies for short dois within zotero with the plugin?

[2022-01-22 07:39] Rhydderch commented on #32
I think it was just a temporary glitch - perhaps due to my pc. So now it works perfectly :)

On Tue, Jan 18, 2022 at 18:18:01, Ashish Uppala < ***@***.*** > wrote:

[2022-02-07 15:32] u-ashish opened #33 "pull DOI from Extra field?"
https://forums.zotero.org/discussion/8014/no-doi-field-for-books/p2

Someone wanted to use DOI from the extra field for books where they provide it explicitly, I thought we did this but if not, should be easy enough...

[2022-02-12 08:27] Miaoyifei-mz opened #34 "Incompatible with Zotero 6.0 beta"
After upgrading zotero to 6.0 beta, zotero-save-with-tag is not compatible anymore.
<img width="630" alt="image" src="https://user-images.githubusercontent.com/60280844/153703688-0adf5c34-7c5d-4891-aab7-4932776ef618.png">

[2022-02-18 17:47] tirzhu commented on #34
A possible solution is change the tag value in install.rdf file:
from

to

[2022-02-18 19:00] u-ashish commented on #34
Thanks! Will take a look in a little bit.

[2022-02-22 13:22] u-ashish commented on #34
(I'll have this PR out today -- sorry for the delay!)

[2022-02-22 13:39] u-ashish opened #35 "Tally sorting is broken on 5.0.97-beta.65+15ae72d14"

[2022-02-22 15:12] u-ashish commented on #34
Hi @Miaoyifei-mz can you try upgrading the plugin and seeing if it works on your dev build? https://github.com/scitedotai/scite-zotero-plugin/releases/tag/v1.11.2

Thanks for reporting this and for your patience!

[2022-02-22 15:25] u-ashish commented on #35
Asked here https://forums.zotero.org/discussion/94672/sorting-broken-in-dev-builds-for-our-plugin?new=1

[2022-02-23 01:57] Miaoyifei-mz commented on #34
It works! Thanks a lot! 😊

[2022-02-28 18:25] u-ashish commented on #35
Err, I meant here -- https://groups.google.com/g/zotero-dev/c/gOSPtdWndog

[2022-03-21 16:04] u-ashish commented on #35
Looks like it's officially broken on zotero 6... looking

[2022-03-21 18:12] #35 closed

[2022-03-22 01:42] rvlobato opened #38 "With zotero 6.0 it breaks the database"
With Zotero 6.0 this extension breaks my database. It starts to populate the Title field with 0.
After restarting the application, I get the following error:

And the app does not work any more. The only way to solve is deleting the sqlite database and disabling the extension.

[2022-03-22 02:00] u-ashish commented on #38
Hey @rvlobato -- hmm.. I'm taking a look now, I upgraded my zotero to 6 and it worked, so that's a bit unusual

[2022-03-22 02:01] u-ashish commented on #38
Just to confirm so I can reproduce, did you already the plugin installed with zotero 6, then the plugin updated caused it to break?

[2022-03-22 02:18] rvlobato commented on #38
I have been using the plugin for some time with the zotero. Today I updated zotero and seems that the plugin also had an update, when I have attempted to add a new reference, the Title field was populated with 0. Subsequently, the database was corrupted.

I have:
- Better BibTex
- DOI Manager
- Storage Scanner
- Zotfile

I tried a fresh install and set out to use just your plugin, when zotero star

[2022-03-22 02:19] u-ashish commented on #38
Let me try it with those plugins and get back to you! I tried it in isolation.

[2022-03-22 02:41] u-ashish commented on #38
OK -- this is super weird, sometimes if I sync my library with a fresh install and the plugin, it does what you described. And other times, it works. Seems like a race condition with the patched `getField`, so looking into it. Thanks for reporting this... sorry it caused issues in the first place

[2022-03-22 02:44] rvlobato commented on #38
No problem, glad that you were able to reproduce, thanks for looking into it.

[2022-03-22 03:07] trotsky1997 commented on #38
same question

[2022-03-22 03:22] dstillman commented on #38
This is fixed in the latest <a href="https://www.zotero.org/support/dev_builds">Zotero beta</a> (6.0.2-beta.1, available in a few minutes if not yet), and the fix will be in 1.0.2 within the next day, but I'm a bit surprised the Scite plugin would cause this.

Basically this is due to a `0` integer being set for a DOI field in the database itself, but I'm not seeing any plugin code that modifies i

[2022-03-22 03:24] dstillman commented on #38
Oh, though I see the OP was reporting a problem with the Title field. So then seems like definitely this plugin, and maybe fairly widespread breakage that won't be fixed by our patch.

[2022-03-22 03:25] u-ashish commented on #38
That's what I noticed as well (doi being `0`) when it broke for mine. But it only happens sometimes during syncing. My best guess at the moment is because I'm patching `getField` and might be some interaction there.

[2022-03-22 03:34] dstillman commented on #38
OK, this is wiping out people's database. We're not going to be able to recover from these changes — people are going to have to revert to backups or pulling from the online library:

https://forums.zotero.org/discussion/comment/402416/#Comment_402416

Please push a fix ASAP that disables all functionality immediately while you debug this.

[2022-03-22 03:37] dstillman commented on #38
Or we can do that — we'll need to do something breaks Scite from loading, but we'd need guidance on what that would be.

[2022-03-22 03:39] dstillman commented on #38
Once this is disabled, we can possibly add a schema update step that clears invalid DB fields containing `0`.

[2022-03-22 03:42] u-ashish commented on #38
@dstillman I can push a change that makes our plugin do nothing (just shows our columns with an empty loading animation) -- but even if I push that, people will need to upgrade won't they? And if they load their zotero before, the bug will cause it the issue anyway before the upgrade happens?

[2022-03-22 03:43] dstillman commented on #38
Yes. But we may be able to clean up invalid fields in the DB once this is out.

[2022-03-22 03:45] dstillman commented on #38
Can you also set your update.rdf to say that it's not compatible with 6.0? Not sure if that will override a install.rdf that says it's compatible but it's worth a shot to prevent people updating Zotero who haven't yet received the next Scite update from having the plugin enabled.

[2022-03-22 03:46] u-ashish commented on #38
Hm... that's tricky because I use another lib to manage generating `update.rdf` and I did that a few weeks ago by upgrading its dependency -- https://github.com/scitedotai/scite-zotero-plugin/pull/36/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R44

Let me try

[2022-03-22 03:54] dstillman commented on #38
Oh, update.rdf is bundled with releases? That's unfortunate. It's better to be able to update that independently.

Most important is to push a fix that disables all functionality ASAP. People upgrading to Z6 will then hopefully get that version at the same time.

[2022-03-22 04:02] u-ashish commented on #38
OK. I released a new version (PR --  https://github.com/scitedotai/scite-zotero-plugin/pull/39), which anyone can [download here](https://github.com/scitedotai/scite-zotero-plugin/releases/tag/v1.11.4 ) that will make the plugin do nothing (I verified this by doing a fresh Zotero 6 install with that plugin version and then syncing my lib multiple times and made sure it synced correctly each time).

[2022-03-22 04:03] u-ashish commented on #38
I think what's happening is:
- A patched function is raising an exception -- I think `getField`
- Maybe it's bubbling up in a weird way and causing DB fields to be written weirdly?

Looking more closely now.

(I'm **very** sorry about this, to anyone affected)

[2022-03-22 04:10] dstillman commented on #38
Great, thanks for the quick patch.

For others, once you update to plugin version 1.11.4, you can go to Tools → Developer → Run JavaScript and run this:

[code]

This should replace all invalid values with the string 'INVALID_SCITE_VALUE', which should prevent errors and allow you to find and correct them.

[2022-03-22 04:23] u-ashish commented on #38
Does this make sense / ring a bell for you --

- In the earlier version, [this block of code](https://github.com/scitedotai/scite-zotero-plugin/blob/495e2e62d8e2f9da4b4704f7fbba21eb8a80115a/content/scite.ts#L229-L244) was likely raising an exception if the value for `field` being passed in wasn't a `string` (e.g. sometimes it passes an `int`, which won't have the `.includes()` method).
- Since tha

[2022-03-22 04:45] dstillman commented on #38
I don't think that's quite right. `getField` would only be passed a string value, and this would only mangle the DOI field if "DOI" is what was passed. Something else has to be erroring out there.

I'm not really understanding the XUL part, though. This is patching `Zotero.Item.prototype.getField()`, no? That shouldn't get passed anything other than a field name.

[2022-03-22 04:47] dstillman commented on #38
Oh, I guess that's only for your columns, where it's not a real field? And somehow that ends up getting called with the column id?

[2022-03-22 05:00] dstillman commented on #38
Ah, sorry, you're right — it's this. Yes, `field` can be a field name or id. So that would cause this.

[2022-03-22 05:00] u-ashish commented on #38
Yeah I think this should do it -- https://github.com/scitedotai/scite-zotero-plugin/pull/40 -- I did not know that `field` could be `id`, which is the problem.

[2022-03-22 05:01] u-ashish commented on #38
I am not going to push this tonight, I know it's late for you too, and I would like to test on a few more libraries, but that seems to be working consistently for me.

[2022-03-22 16:33] u-ashish commented on #38
@rvlobato and @trotsky1997 this should be fixed now with [v1.11.5](https://github.com/scitedotai/scite-zotero-plugin/releases/tag/v1.11.5) if you want to confirm.

[2022-03-22 16:44] rvlobato commented on #38
HI @u-ashish I can confirm that it is working. I think that this issue can be closed. Thanks.

[2022-03-22 16:45] u-ashish commented on #38
Super. Thanks again, I hope it didn't disrupt with your work too much.

[2022-04-04 12:27] YCChiang opened #41 "Not compatible with PubPeer zotero plugin"
I install both Scite and PubPeer pulgin, but it crashed like image show below.

![WeChat Screenshot_20220404202531](https://user-images.githubusercontent.com/41322112/161543185-99d4a9de-042e-48a6-aa30-c904e2f6ea3d.png)

Zotero Vesion: 6.0.4
Scite plugin version: 1.11.5
PubPeer plugin version: 0.0.13

Error Massage:
![WeChat Screenshot_20220404202717](https://user-images.githubusercontent.com/41322

[2022-04-04 13:35] u-ashish commented on #41
Thanks for reporting this @YCChiang, I can take a look. Just to confirm, is the scite plugin working for you on that version of zotero without PubPeer?

[2022-04-04 13:47] YCChiang commented on #41
Scite pulgin works well without PubPeer, @u-ashish

[2022-04-04 13:47] YCChiang commented on #41
Scite pulgin works well without PubPeer, @u-ashish

[2022-04-04 20:11] u-ashish commented on #41
@YCChiang could you try upgrading PubPeer to the latest (0.0.14) and see if that works? Download here -- https://github.com/PubPeerFoundation/pubpeer_zotero_plugin/releases/tag/v0.0.14

When I was trying to reproduce it, I tried with PubPeer 0.0.13 and saw the following error message:

<img width="684" alt="Screen Shot 2022-04-04 at 3 05 57 PM" src="https://user-images.githubusercontent.com/142647

[2022-04-04 20:51] u-ashish opened #42 "Decouple update.rdf from release"
Came up during last incident (see https://github.com/scitedotai/scite-zotero-plugin/issues/38#issuecomment-1074694638)... might be good to have a way to de-couple this. Currently we use the `zotero-plugin` package to manage this so need to think about it to see if it's a total pain. Tracking it for now to come back to later.

[2022-04-04 22:25] retorquere commented on #41
No need to address me by royal plural 😁. Yes, that's the right commit. Looks like zotero doesn't accept simple strings anymore as cell content.

[2022-04-06 15:42] u-ashish commented on #41
@YCChiang I am going to close this since it appears to be working with 0.0.14, but if you find that it doesn't, please feel free to re-open!

[2022-04-06 15:42] #41 closed

[2022-04-06 17:16] JessRiedel opened #43 "Suggestion: remove icon from Supporting/Disputing/Mentioning column entries"
I have a lot of columns visible in my Library view.  I think it's unnecessary for the Supporting/Disputing/Mentioning entries to have an icon (green check, blue question mark, gray slash) in *each and every* entry (right?) since it doesn't provide new information.

I presume the idea here is to make it visually easier to interpret the numbers, but if so can I suggest adding the icon to the column

[2022-04-06 17:20] JessRiedel opened #44 "Entries in Total smart citation column are improperly justified"
The numbers in the Total smart citation column seem to have a large amount of white space on the left hand side of the column.  (Compare with, e.g., the "year" column or this add-on's "supporting" column.)  This is undesirable because if I try to resize the column to make it as wide as the widest number that appears in it (~5 digits), it starts cutting off the number while still leaving a bunch of

[2022-04-06 17:23] u-ashish commented on #44
Yep, just noticed this while I was looking at the other one. Will get a fix soon!

[2022-04-06 18:28] u-ashish commented on #43
<img width="447" alt="Screen Shot 2022-04-06 at 1 25 38 PM" src="https://user-images.githubusercontent.com/14264791/162043491-be1b3247-f547-470e-a864-3e108ae548a0.png">

<img width="1138" alt="Screen Shot 2022-04-06 at 1 24 25 PM" src="https://user-images.githubusercontent.com/14264791/162043493-05e63241-398d-4706-842c-d3baddc338ed.png">

@JessRiedel Thanks for opening the issue; does this look be

[2022-04-06 19:01] JessRiedel commented on #43
Yes, much better! That was exactly what I had in mind.

On Wed, Apr 6, 2022 at 11:28 AM Ashish Uppala ***@***.***>
wrote:

[2022-04-06 19:43] #44 closed

[2022-04-06 19:46] u-ashish commented on #43
@JessRiedel Great -- if you upgrade the plugin (or re-install via https://github.com/scitedotai/scite-zotero-plugin/releases/tag/v1.11.6) it should work. Let me know if it plays nice with your Zotero & any other plugins you have installed and if so, I'll close out the issue :).

[2022-04-06 20:03] JessRiedel commented on #43
Looks great!

The only minor thing is that the "Total smart citations" has no icon but
does appear to have a blank space where the icon would go. So if I make
that column as narrow as the data there is just a blank space in the
heading of the column.  (In contrast, if I make one of the default columns
(like "Title") as narrow as possible, there is always at least the first
character (e.g., "T") vi

[2022-04-06 20:06] u-ashish commented on #43
@JessRiedel Sweet. We were actually discussing whether "Total smart citations" is worth keeping -- do you find it useful? I was concerned it might be confusing to have that and "Total citing publications" (1 publication can have more than 1 smart citation, so those counts will vary). I think it's hidden by default, but if it's something you find yourself looking for, I'll try and find a good icon

[2022-04-06 20:19] JessRiedel commented on #43
Oh and the fix on the justification issue described in #44 also looks great.

[2022-04-06 20:31] #43 closed

[2022-04-06 20:37] JessRiedel commented on #43
I only recently installed the add-on, so I can't say for sure whether I'll find it useful, but my inclination is that I won't.  In principle the info will be accessible even if you remove that column, since it's just the sum of supporting, contrasting, and mentioning (right?), and I can't actually think of many practical cases where I would want to know how many smart citations there are.  (I gues

[2022-04-29 12:40] u-ashish opened #46 "Add section tallies on the right item pane"

[2022-05-09 04:13] hbzhou530 commented on #24
Thank you for your work.
May I ask if this plugin API has adopted a CDN suitable for China？
 I am sure when I used it today, No scite tallies because of internet connection problems.  But it was normal 12 hours ago.

[2022-05-09 15:30] u-ashish commented on #24
Hi @hbzhou530 -- we do have a CDN and caching, I think there may have been some performance issues on the API over the weekend that should be resolved now. Is this still happening for you? Maybe you can check over the next few days and report back?

[2022-05-25 04:26] welpdx commented on #33
Yes you guys did in [Line 35](https://github.com/scitedotai/scite-zotero-plugin/blob/93e1d55eeca265309be2e5d78a0dd9ad9bf01bf8/content/scite.ts#L35). And it works for books with doi.
Maybe the guy in that discussion didn't add "DOI:" in the Extras?

Anyways, I think this issue should be closed.

[2022-05-25 04:29] u-ashish commented on #33
Hiya -- yep. I saw we did too just forgot I made this issue! Thanks for reminding me :)

[2022-05-25 04:29] #33 closed

[2022-05-25 04:34] welpdx commented on #33
@u-ashish  :D
Also, good work on this plugin by the way!

[2022-05-26 09:47] drchriscole commented on #41
I have both pubpeer 0.0.14 and scite 1.11.6 and still see the error. It works if I disable pubpeer.

[2022-05-26 09:58] drchriscole commented on #41
Interestingly, when re-enabling the pubpeer plugin, the scite columnar data is working and will update with new additions to Zotero, however, scite tab is blank.

[2022-05-26 10:01] drchriscole opened #47 "Pubpeer and scite incompatibility"
I can't reopen issue #41 despite adding comments so opening a new one to re-raise the issue. Feel free to merge the issues.

I have both pubpeer 0.0.14 and scite 1.11.6 and still see the error. It works if I disable pubpeer. Interestingly, when re-enabling the pubpeer plugin, the scite columnar data is working and will update with new additions to Zotero, however, scite tab is blank.

[2022-07-09 06:48] dstillman opened #48 "Register custom sort fields"
I suspect this will affect this plugin:

https://groups.google.com/g/zotero-dev/c/kc0-C6-SA74/m/c_6ddjqIAAAJ

[2022-07-11 04:41] dstillman commented on #48
Sorry — we decided to address this another way, so no change required. See the follow-up in that thread.

[2022-07-11 04:41] #48 closed

[2022-07-12 16:46] u-ashish commented on #48
Thanks for following up @dstillman, will keep an eye out on that thread.

[2022-08-07 04:31] Miaoyifei-mz opened #49 "Scite doesn't work"
<img width="1168" alt="image" src="https://user-images.githubusercontent.com/60280844/183275265-559af7de-7c6f-455e-9c60-637b692f71a5.png">

## Version information

- zotero：6.0.11
- scite：1.11.6
- Mac OS：12.5

I restarted Zotero and reinstalled Scite, but it didn't work. I don't know if this is a bug or not.

[2022-08-07 17:27] mildwall commented on #49
I have the same issue starting from today or yesterday. Is it a server-related problem?
- zotero：6.0.10
- scite：1.11.6
- Windows：10

[2022-08-07 20:21] u-ashish commented on #49
Hey @mildwall and @Miaoyifei-mz  -- thanks for reporting this. I can take a look; I don't think it's a server side problem because our main website uses the same API and everything seems to work there (as does the API when I try it directly). Give me a day to get back to you, little tied down this evening, sorry about that!

[2022-08-08 05:42] Miaoyifei-mz commented on #49
Thank you ! @u-ashish

[2022-08-08 13:04] Miaoyifei-mz commented on #49
Hello, I suddenly noticed that Scite was working again.

[2022-08-08 14:57] u-ashish commented on #49
@Miaoyifei-mz I actually can reproduce the bug you saw, working on a fix now. Weird that it works for you intermittently, though.

[2022-08-08 15:01] mildwall commented on #49
@u-ashish Thank you for your effort. However, it still does not work on my computer.

[2022-08-08 15:04] u-ashish commented on #49
Yeah, it's from an infrastructure change we made last week, sorry about this. Should be fixed today, will update you once it is!

[2022-08-08 19:24] u-ashish commented on #49
as a mini update @mildwall and @Miaoyifei-mz -- we've identified the issue; it's happening intermittently but we're working on a fix.

Between now and then we're going to manually fix it periodically to prevent it from happening, so you should be able to use it for the most part.

I will update you as soon as I can once the full fix is ready (hopefully by tomorrow).

Sorry again if this interfered

[2022-08-09 12:55] u-ashish commented on #49
@mildwall and @Miaoyifei-mz -- this should be fixed now. I'll keep the issue open for a couple days in case either of you notice anything else, but it should be all set from our end.

[2022-08-10 21:11] u-ashish commented on #49
Should be fixed now, please feel free to re-open if it happens again. Thanks for letting me know to begin with!

[2022-08-10 21:11] #49 closed

[2022-10-11 08:20] JessRiedel commented on #43
I only recently installed the add-on, so I can't say for sure whether I'll
find it useful, but my inclination is that I won't.  In principle the info
will be accessible even if you remove that column, since it's just the sum
of supporting, contrasting, and mentioning (right?), and I can't actually
think of many practical cases where I would want to know how many smart
citations there are.  (I gues

[2022-11-29 07:05] ZacharyLauGitHub opened #50 "The scite plugin conflicts with zotero's UI"
The scite plugin conflicts with zotero's UI, which will cause some areas to not be displayed.

Below is part of the UI without the scite plugin installed.
![CleanShot 2022-11-29 at 14 54 41@2x](https://user-images.githubusercontent.com/77877188/204461098-695834e9-eef6-4631-b756-2aaf6c73f34b.jpg)

Below is part of the UI with the scite plugin installed.
![CleanShot 2022-11-29 at 14 53 43@2x](https:

[2022-11-29 15:14] u-ashish commented on #50
Hi @ZacharyLauGitHub - thanks for opening this issue. What operating system are you using, and which version of Zotero?

And what other plugins do you have?

I think mine looks a little different so I can't see those exact things, if I can reproduce it, will take a proper look.

[2022-11-29 15:34] ZacharyLauGitHub commented on #50
Hi@u-ashish - The system I use is MacOS12.6.1, and my zotero version is 6.0.18. I also use the following plugins Better BibTex for Zotero, Zotero PDF Preview and ZotFile. I have checked all the plugins, and when the scite plugin is installed, the above problem will appear.